header {
    padding: 1rem 0;
}

.main-content {
    margin-top: 2rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  max-width: 800px; /* Adjust the max-width as needed */
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
}

.product-detail h4 {
  margin: 0;
  padding: 0;
}

.product-detail p {
  margin: 0;
  padding: 5px 0;
}

.cart-container {
  margin-top: 30px; /* Add some space above the cart */
}