.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  border-right: 10px;
  padding: 10px;
  margin: 10px 0;
  max-width: 600px;
}


.product-image {
  max-width: 400%;
  height: auto;
  display: block;
  margin: 0 auto;
}


.product-detail {
  text-align: left;
}

.product-header {
  margin-left:250px;
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.product-name {
  margin: 0;
  font-size: 1.25em;
}

.product-price {
  font-weight: bold;
  font-size: 1.25em;
  color:green;
}

.product-detail p {
  margin-left:350px;
}

.product-detail .btn {
  width: 100px;
  margin-left: 350px;
  margin-top: 10px;
  padding: 5px 10px; /* Adjust padding to make the button smaller */
  font-size: 0.875em; /* Adjust font size to make the button smaller */
}
